:root {
  --alabaster: #FAFAFA;
  --alizarinCrimson: #E31F24;
  --alto: #DBDBDB;
  --aquaHaze: #F2F6F7;
  --atlantis: #8CC63F;
  --doveGray: #737373;
  --dustyGray: #9B9B9B;
  --fiord: #3C4E64;
  --frost: #E3F3D6;
  --fruitSalad: #4CAE4C;
  --iron: #E6E7E8;
  --mineShaft: #333;
  --mineShaftDark: #222;
  --mustard: #FFDF63;
  --oceanGreen: #28B579;
  --pictonBlue: #3AA6DD;
  --silverChalice: #A3A3A3;
  --silverGray: #D3D3D3;
  --silverSand: #B6B9B9;
  --squirtleBlue: #135EAC;
  --valencia: #D43F3A;
  --white: #FFF;
  --wizardGray: #58585B;

  --subtleWhite: rgba(255, 255, 255, 0.25);
  --subtleShadow: rgba(0, 0, 0, 0.05);
  --greyShadow: rgba(0, 0, 0, 0.26);
  --darkShadow: rgba(0, 0, 0, 0.6);

  // -- Used in calendar.scss
  --increaseLightBlue: #2CA8DF;
  --increaseOrange: #F79C31;

  // Fonts
  --fontBright: var(--white);
  --fontNormal: var(--silverGray);
  --fontBold: var(--dustyGray);

  // Sections
  --borderColor: var(--silverGray);
}
