@import 'colors.css';

.AmountBox-blue {
  background-color: var(--pictonBlue);
}
.AmountBox-red {
  background-color: var(--alizarinCrimson);
}
.AmountBox-green {
  background-color: var(--oceanGreen);
}
